---

export interface Author {
    name: string;
    url: string;
}
export interface Props {
    authors: Author[]
}

const { authors } = Astro.props;
---
<div class="publication-authors">
    {authors.map((author, ii) => (
        <span><a href={author.url}>{author.name}</a>{ii < authors.length - 1 && ", "}</span>
    ))}
</div>

<div class="publication-authors">
    <span class="author-block">Massachusetts Institute of Technology</span>
</div>

<style>
    .publication-authors {
        font-family: "Google Sans", sans-serif;
        font-size: 1.0rem;
    }

    @media screen and (min-width: 1280px) {
        .publication-authors {
            font-size: 1.25rem;
        }
    }

    a {
        color: hsl(204, 86%, 53%);
    }
</style>